GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_CLOUD_KEY=your-cloudinary-cloud-key
CLOUDINARY_CLOUD_KEY_SECRET=your-cloudinary-cloud-key-secret
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/chatomaniadb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your-database-password
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379