services:
  app:
    image: "sabarnobiswas2002/chatomania:v0.0.1-SNAPSHOT"
    container_name: chat-o-mania
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chatomaniadb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Sabu1234@.
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
    networks:
      - chatomania-network

  postgres:
    image: postgres:16
    container_name: chatomaniadb-postgres
    environment:
      POSTGRES_DB: chatomaniadb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Sabu1234@.
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      timeout: 10s
      retries: 10
      interval: 10s
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - chatomania-network

  redis:
    image: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      timeout: 10s
      retries: 10
    networks:
      - chatomania-network

networks:
  chatomania-network:
    driver: "bridge"

volumes:
  postgres_data:
  redis_data:
