spring:
  application:
    name: chatomania
  datasource:
    url: jdbc:postgresql://localhost:5432/chatomaniadb
    username: postgres
    password: Sabu1234@.
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
