spring:
  application:
    name: chatomania
  datasource:
    url: jdbc:postgresql://localhost:5432/chatomaniadb
    username: postgres
    password: Sabu1234@.
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB           

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_CLOUD_KEY}
  api-secret: ${CLOUDINARY_CLOUD_KEY_SECRET}
